section#social-links.bg-transparent.clearfix(style='border-top: none; border-bottom: none')
	.container
		ul
			li.scrollimation.fade-up
				a(href='').icon: i.fa.fa-twitter
				h4 Follow us on Twitter
			li.scrollimation.fade-up
				a(href='').icon: i.fa.fa-facebook
				h4 Like us on Facebook
			li.scrollimation.fade-up
				a(mailto="").icon: i.fa.fa-envelope
				h4 Write us a letter

footer#main-footer
	.container
		.row
			.col-md-11.col-sm-9.col-xs-12
				p
					span Designed and developed with love by Eugene Mutai  
					| &copy; Copyright #{new Date().getFullYear() } / All rights reservered.

			.col-md-1.col-sm-2.col-xs-4.align-center
					img(src="/logo/nodejs-green.png").img-responsive.img-thumbnail