//Application script
script(src='/js/libs/jquery-1.8.2.min.js')
script(src='/js/libs/bootstrap.min.js')
script(src='/js/jquery.scrollto.js')
script(src='/js/jquery.flexslider.min.js')
script(src='/js/twitterFetcher_v10_min.js')
script(src='/js/jquery.fitvids.js')
script(src='/js/jquery.masonry.min.js')
script(src='/js/waypoints.min.js')
script(src='/js/jquery.backstretch.min.js')

script(src='/js/jquery.caroulfredsel.min.js')
script(src='/js/libs/modernizr.min.js')

//User script
script(src='/js/application.js')
//- script(src='/js/appContoller.js')
//- script(src='/js/contact.js')
//- script(src='/js/shapes.js')
script.
	$(function() {
		var container = $('.card-container');
		container.masonry({
			// options
			itemSelector: '.ccc',
			isAnimated: true,
			columnWidth: function( containerWidth ) {
				// do nothing for browsers with no media query support
				// .container will always be 940px
				if($(".container").width() == 940) {
					return 210;
				}

				var width = $(window).width();
				var col = 300;

				if(width < 1200 && width >= 980) {
					col = 210;
				}
				else if(width < 980 && width >= 768) {
					col = 186;
				}

				return col;
			},
			gutter: '.2em'
		});
		var msnry = container.data('masonry');
		console.log(msnry);
	});
